{
    "twitter" : {
        "consumer_key": "CONSUMERKEY",
        "consumer_secret": "CONSUMERSECRET",
        "access_token_key": "3913SECRET-NNSECRET",
        "access_token_secret": "SECRET"
    },
    "traftnr": {
        "track": "traftnr"
    },
    "screen_name": "traftnr"
}
